.container {
    width: 100vw;
}
.boardContainer {
    margin: 0;
    padding: 0;
    width: 1024px;
    display: -webkit-flex;
    display: flex;
}
.cardsList {
    padding: 0;
    margin: 0;
    width: 850px;
}
.card {
    list-style: none;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    text-align: center;
    font-size: 3em;
    padding: 0;
}
.card.facedown {
    background-image: url("../images/TIYlogo.jpg");
    background-size: contain;
    img {
        display: none;
    }
}
.gameInfo {
    padding-top: 50px;
    padding-right: 70px;
}
.score {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
}
.guess {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
}
.timer {
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
}

.button {
  margin-top:100px;
  padding:5px;
  font-size:1em;

  border:solid 1px black;
  background-color: lightgrey;
  text-align: center;
}
